h1{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

input{
    border-radius: 4;
}

.center {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     border-radius: 6px;
}

button{
    width: 100%;
    border: none;
    border-radius: 6px;
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: mediumaquamarine;
    color: white;
}
.orange{
    background-color:orange;
    color: white;
}